@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hide{
  display: none;
}
/* Shared css class */
.txt-center{
  text-align: center;
}
.d-flex{
  display: flex;
}

.dark-1{
  color: #131313;
}

.dark-2{
color: #424242;
}

.dark-3{
  color:#727272 ;
}

.h2{
  font-size: 2rem;
  font-weight: bold;
}

.p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.btn{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 14px 18px;
  color: #ffffff;
  background-color: #FF900E;
  border-radius: 8px;
}

.bg-primary{
  background-color: rgba(255, 144, 14, 10%);
}


@media screen and (max-width:576px){
  .btn{
    padding: 12px 18px;
    border-radius: 5px;
  }
}


/* header style */
header{
  padding: 40px 170px;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  header{
    padding: 30px 70px;
  }

  .hero .hero-txt {
    row-gap: 25px;
    padding: 0 !important;
}
}

@media screen and (max-width:576px){
  header{
    padding: 25px 20px;
  }
}



/* navbar style */
  nav{
    justify-content: space-between;
    align-items: center;
  }

  nav ul li{
    list-style: none;
  }

  nav ul li a, nav h4 a{
    text-decoration: none;
  }

  nav h4 a{
    font-size: 1.5rem;
    font-weight: bold;
  }

  nav ul{
    column-gap: 30px;
  }

  @media screen and (max-width:576px) {
    nav{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 15px;
    }
    nav h4 a{
      font-weight: bold;
    }
  
    nav ul{
      column-gap: 25px;
    }
  }


/* hero style */
.hero .hero-txt{
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  padding: 80px 125px 30px 125px;
}

.hero .hero-txt h1{
  font-size: 3rem;
  font-weight: 800;
  padding: 0 100px;
}


.hero .hero-img{
  width: 100%;
}

.hero .hero-img img{
  width: 100%;
}


@media screen and (min-width: 577px) and (max-width: 992px) {
  
  .hero .hero-txt {
    row-gap: 15px;
    padding: 60px 20px 30px 20px !important;
}

.hero .hero-txt h1 {
  padding: 0 50px;
}
}


@media screen and (max-width:576px) {
  .hero .hero-txt{
    row-gap: 15px;
    padding: 40px 0 20px 0;
  }

  .hero .hero-txt h1{
    font-size: 2.5rem;
    padding: 0 10px;
  }

  .hero .hero-txt p{
    text-align: justify;
    text-align-last: center;
  }
}



/* main stlye */
main{
  margin-top: 110px;
  padding: 0 170px;
}

main> section{
  margin-bottom: 110px;
}


@media screen and (min-width: 577px) and (max-width: 992px){
  main{
    margin-top: 70px;
    padding: 0 70px;
  }

  main> section{
    margin-bottom: 70px;
  }
}

@media screen and (max-width:576px) {
  main{
    margin-top: 90px;
    padding: 0 20px;
  }

  main> section{
    margin-bottom: 90px;
  }
}

/* Features style */
#feature{
  align-items: center;
  justify-content: center;
  column-gap: 3.5rem;
}

.features-img{
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.features-img img{
  width: 100%;
}


.features-text{
  width: 380px;
  flex-direction: column;
}


#h-inner-1{
  font-weight: 500;
}

#h-inner-2{
  color: #FF900E;
  font-weight: bold;
}

.features-text p{
  margin-top: 20px;
  margin-bottom: 32px;
}

.features-text a{
  width: fit-content;
}

@media screen and (min-width: 577px) and (max-width: 992px){
  #feature{

    column-gap: 3rem;
  }

  .features-img{
    width: calc(50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  
.features-text{
  width: calc(50%);
}

.features-text p {
  margin-top: 5px;
  margin-bottom: 20px;
}
}

@media screen and (max-width:576px) {
  #feature{
    flex-direction: column-reverse;
    row-gap: 3.5rem;
  }

  .features-text{
    width: calc(100% - 50px);
    flex-direction: column;
    align-items: center;
  }

  .features-text h2{
    text-align: center;
  }

  .features-text p{
    text-align: justify;
    text-align-last: center;
    margin-top: 5px;
    margin-bottom: 22px;
  }

  .features-img{
    width: calc(100% - 50px);
    gap: 10px;
  }
}


/* feature details style */
#feature-details {
  column-gap: 80px;
}

#feature-details .feature-txt{
  max-width: 420px;
}

#feature-details .feature-txt h2{
  padding-right: 60px;
  border-left: 6px solid #FF900E;
  padding-left: 15px;
  margin-bottom: 20px;
}

#feature-details .feature-txt> p{
  margin-bottom: 30px;
}

#feature-details .feature-txt .feature-card{
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}

#feature-details .feature-txt .feature-card h3{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

#feature-details .feature-img{
  width: 500px;
  position: relative;
 }

 #feature-details .feature-img img{
  width: 100%;
 }

 #feature-details .feature-img .badge{
  position: absolute;
  bottom: 160px;
  left: -60px;
  justify-content: center;
  align-items: center;
  background-color: #FF900E;
  padding: 30px 20px;
  width: 225px;
  border-radius: 8px;
 }

 #feature-details .feature-img .badge h2{
  text-align: center;
  margin-top: 30px;
    font-size: 2.5rem;
    font-weight: 800;
    color: #ffffff;
 }

 #feature-details .feature-img .badge h2 span{
  position: relative;
  bottom: 25px;
  font-size: 1rem;
  font-weight: 500;
 }


 @media screen and (min-width: 577px) and (max-width: 992px){
  #feature-details {
    flex-direction: column;
    row-gap: 40px;
  }

  #feature-details .feature-txt{
    margin: 0 auto;
    max-width: 100%;
  }

  #feature-details .feature-txt h2 {
    padding-right: 0px;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
    margin-bottom: 15px;
  }

  #feature-details .feature-txt .feature-card {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
  }

  #feature-details .feature-img{
    margin: 0 auto 90px auto;
    max-width: 100%;
    position: relative;
   }

   #feature-details .feature-img .badge {
    bottom: -85px;
    left: 30%;
    width: 210px;
    border-radius: 8px;
  }
  
 }

 @media screen and (max-width: 576px) {
  #feature-details {
    flex-direction: column;
    row-gap: 40px;
  }

  #feature-details .feature-txt{
    margin: 0 auto;
    max-width: calc(100% - 40px);
  }

  #feature-details .feature-txt h2 {
    padding-right: 0px;
    border-left: 4px solid #FF900E;
    padding-left: 10px;
    margin-bottom: 15px;
  }


  #feature-details .feature-txt .feature-card {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
  }

  #feature-details .feature-txt .feature-card p{
    text-align: justify;
  }

  #feature-details .feature-img{
    margin: 0 auto 90px auto;
    max-width: calc(100% - 40px);
    position: relative;
   }

   #feature-details .feature-img .badge {
    bottom: -85px;
    left: 55px;
    width: 210px;
    border-radius: 5px;
  }
 }




/* fact style */


#fact .fact-text{
  margin-bottom: 50px;
}

#fact .fact-text p{
  margin-top: 15px;
  max-width: 540px;
}

#fact  .fact-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  column-gap: 50px;
}

#fact  .fact-cards .card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  padding: 36px 30px;
}

#fact  .fact-cards .card h3{
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}

#fact  .fact-cards .card h5{
  font-size: 1rem;
  font-weight: 500;
}


@media screen and (min-width: 577px) and (max-width: 992px){
  #fact .fact-text{
    margin-bottom: 2.5rem;
  }

  #fact  .fact-cards{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
  }

  #fact  .fact-cards .card{
    border-radius: 8px;
    padding: 28px 18px;
  }
}

@media screen and (max-width:576px) {
  #fact .fact-text{
    text-align: center;
    margin-bottom: 2.5rem;
  }

  #fact .fact-text p{
    margin-top: 5px;
    width: auto;
  }

  

  #fact  .fact-cards{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
  }

  #fact  .fact-cards .card{
    border-radius: 5px;
    padding: 28px 18px;
  }
  
}


/* Sponsors style */
#sponsor .sponsor-txt{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#sponsor .sponsor-txt p{
  max-width: 540px;
  margin-top: 15px;
}

#sponsor .sponsors-com{
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}

#sponsor .sponsors-com img{
  width: 120px;
  filter: grayscale(100%);
}

@media screen and (min-width: 577px) and (max-width: 992px){
  #sponsor .sponsors-com{
    flex-wrap: wrap;
    gap: 30px;
  }

  #sponsor .sponsor-txt {
    margin-bottom: 30px;
}
}

@media screen and (max-width: 576px) {
  #sponsor .sponsors-com{
    flex-wrap: wrap;
    gap: 30px;
  }

  #sponsor .sponsors-com img{
    width: 100px;
  }
}


/* footer */
footer{
  margin: 0 170px 0 170px;
  padding: 25px 0;
  background-color: #FFF4E7;
  border-radius: 8px;
}

footer p a{
  text-decoration: none;
}


@media screen and (min-width: 577px) and (max-width: 992px){
  footer{
    margin: 0 70px;
    padding: 15px 0;
    background-color: #FFF4E7;
    border-radius: 8px;
  }
}

@media screen and (max-width: 576px) {
  footer{
    margin: 0 20px 0 20px;
    padding: 15px 0;
    background-color: #FFF4E7;
    border-radius: 5px;
  }

  footer p{
    font-size: small;
  }
}